<ul class="filters_menu">
    <li class="active" data-filter="*">Tudo</li>
    <li data-filter=".burger">Burger</li>
    <li data-filter=".pizza">Pizza</li>
    <li data-filter=".pasta">Pasta</li>
    <li data-filter=".fries">Fries</li>
</ul>