<!-- 404 Start -->
<div class="container-fluid pt-4 px-4 bg-dark" >
    <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0 bg-dark">
        <div class="col-md-6 text-center p-4">
            
            <img src="images/favicon.png" width="150em"/>
            <h1 class="display-4 fw-bold">Restaurante & Bar</h1>

            <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
            <h1 class="display-2 fw-bold">404</h1>
            <h1 class="mb-4" style="color:#fff">Pagina Não Encontrada</h1>
            <p class="mb-4" style="color:#fff" >Lamentamos, A Página Que Você Procurou Não Existe Em Nosso Site!
                TVá Para Nossa Página Inicial Ou Tente Usar Uma Pesquisa?</p>
            <a class="btn btn-primary rounded-pill py-3 px-5" href="/">Ir Para Página Inicial</a>

        </div>
    </div>
</div>
<!-- 404 End -->
