<!-- pagamento START -->

<section class="food_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Pagamento
            </h2>
        </div>

        <div class="filters-content">
            <div class="row grid">
            </div>


            <div class="container">

                <div class="col-md-12">

                    <div class="row mb-5">
                        <div class="col-md-12">
                            <h2 class="h3 mb-3 text-black">Nota</h2>
                            <div class="p-3 p-lg-5 border bg-white">

                                <label for="c_code" class="text-black mb-3">Pagamento Via <strong>PayPay Angola</strong>
                                </label>
                                <div class="input-group w-75 couponcode-wrap">
                                    <p class="mb-0">Faça seu pagamento diretamente em nossa conta bancária.</p>
                                    <p class="mb-0">Por favor, use o seu ID do pedido como referência de pagamento.</p>
                                    <p class="mb-0">Seu pedido não será enviado até que os fundos sejam liberados em
                                        nossa conta.</p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row mb-5">
                        <div class="col-md-12">
                            <h2 class="h3 mb-3 text-black">Código Do Pagamento</h2>
                            <div class="p-3 p-lg-5 border bg-white">

                                <label for="c_code" class="text-black mb-3">Digite A Referência Do Pagamento</label>
                                <div class="input-group w-75 couponcode-wrap">
                                    <input type="text" class="form-control me-2" id="c_code"
                                        placeholder="Referência Do Pagamento" aria-label="Referência Do Pagamento"
                                        aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-black btn-sm" type="button"
                                            id="button-addon2">Consultar</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row mb-5">
                        <div class="col-md-12">
                            <h2 class="h3 mb-3 text-black">Seu Pedido</h2>
                            <div class="p-3 p-lg-5 border bg-white">
                                <table class="table site-block-order-table mb-5">
                                    <thead>
                                        <tr>
                                            <th>Produto</th>
                                            <th>Total</th>
                                            <th>Nota</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> Produto 1 <strong class="mx-2">x</strong> 1</td>
                                            <td>(Akz) 0,00</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td class="text-black font-weight-bold"><strong>Subtotal</strong></td>
                                            <td class="text-black">(Akz) 0,00</td>
                                        </tr>
                                        <tr>
                                            <td class="text-black font-weight-bold"><strong>Total</strong></td>
                                            <td class="text-black font-weight-bold"><strong>(Akz) 0,00</strong></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="border p-3 mb-3">
                                    <h3 class="h6 mb-0"><a class="d-block" data-bs-toggle="collapse"
                                            href="#collapsebank" role="button" aria-expanded="false"
                                            aria-controls="collapsebank">Direct Bank Transfer</a></h3>

                                    <div class="collapse" id="collapsebank">
                                        <div class="py-2">
                                            <p class="mb-0">Faça seu pagamento diretamente em nossa conta bancária. Por
                                                favor, use o seu ID do pedido como referência de pagamento. Seu pedido
                                                não será enviado até que os fundos sejam liberados em nossa conta.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="border p-3 mb-3">
                                    <h3 class="h6 mb-0"><a class="d-block" data-bs-toggle="collapse"
                                            href="#collapsecheque" role="button" aria-expanded="false"
                                            aria-controls="collapsecheque">Cheque Payment</a></h3>

                                    <div class="collapse" id="collapsecheque">
                                        <div class="py-2">
                                            <p class="mb-0">Faça seu pagamento diretamente em nossa conta bancária. Por
                                                favor, use o seu ID do pedido como referência de pagamento. Seu pedido
                                                não será enviado até que os fundos sejam liberados em nossa conta.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="border p-3 mb-5">
                                    <h3 class="h6 mb-0">
                                        <a class="d-block" data-bs-toggle="collapse" href="#collapsepaypal"
                                            role="button" aria-expanded="false"
                                            aria-controls="collapsepaypal">Paypal</a>
                                    </h3>

                                    <div class="collapse" id="collapsepaypal">
                                        <div class="py-2">
                                            <p class="mb-0">Faça seu pagamento diretamente em nossa conta bancária. Por
                                                favor, use o seu ID do pedido como referência de pagamento. Seu pedido
                                                não será enviado até que os fundos sejam liberados em nossa conta.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-black btn-lg py-3 btn-block">Pagar</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>



        </div>
    </div>

    </div>
</section>

<!-- pagamento END -->